body {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    background-color: hsl(226, 43%, 10%);
    font-family: 'Rubik', sans-serif;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}


.main__card {
    height: 400px;
}

.main__card-bg {
    position: relative;
    width: 200px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
    padding: 20px;
    background-color: hsl(235, 46%, 20%);
    border-radius: 12px;
}

.main__card-front {
    position: absolute;
    background-color: hsl(246, 80%, 60%);
    border-radius: 8px;
    top: 0;
    left: 0;
    height: 60%;
    width: 100%;
    padding: 20px;
    flex-direction: column;
}


.main__card-bg button {
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.main__card-bg button:hover,
.main__card-bg button:active {
    color: white;
}


.active {
    color: white;
}

.not-active {
    color: hsl(236, 100%, 87%);
}

.reporte-for {
    color: hsl(236, 100%, 87%);
    font-size: 16px;
    font-weight: 300;
}

.main__card-front-txt .name {
    color: white;
    font-size: 28px;
    line-height: 100%;
    font-weight: 400;
}

.main__card-front img {
    width: 70px;
    height: 70px;
    border-radius: 35px;
    border: 1px solid white;
    margin-bottom: 40px;

}


.card {
    margin: 0 20px 20px 0;
    position: relative;
    height: 190px;
    border-radius: 12px;
    overflow: hidden;
    border: none;
}

.card-img_top {
    position: absolute;
    top: -10px;
    right: 20px;
    width: 70px;
    height: 70px;
}

.card__front {
    position: absolute;
    top: 40px;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: hsl(235, 46%, 20%);
    border-top-right-radius: 12px;
    border-top-left-radius: 12px;
    padding: 12px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card__front:hover {
    cursor: pointer;
    background-color: hsl(246, 80%, 60%);
}

.card__front header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.current-time,
.last-time {
    padding: 0;
    margin: 0;
}

.last-time {
    color: hsl(236, 100%, 87%);
}



@media(max-width: 770px) {

    body {
        height: auto;
    }

    .cards {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0 20px 0 20px;
        margin: 0;
    }

    .card {
        margin-right: 0;
    }

    .main__card {
        height: 190px;
        margin-bottom: 20px;
    }

    .main__card-bg {
        width: 100%;
        padding-bottom: 0;
        align-items: flex-end;
        justify-content: start;
        flex-direction: row;
    }

    .main__card-bg {
        padding-bottom: 10px;
    }

    .main__card-front {
        flex-direction: row;
    }

    .main__card-front img {
        margin-right: 20px;
    }
}